.login_outter_div{
    background-color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_body{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: stretch;
    color: #111827;
    background-color: #ffffff;
    border: 1px solid #d1d5db;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); 
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    box-sizing: border-box;
      border-radius: 1rem;
}
.login_heading{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.025em
}
.login_sub_heading{
    margin: 0px;


    font-size: 0.875rem;      /* Tailwind text-sm = 14px */
    color: #6b7280;
}
.login_alert{
    color:#0b0809;
    padding: 0.5rem;
    border: 1px solid #eeeaeb;
    border-radius: .5rem;
    background-color: #f5f4f4;
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}
.login_alert .circleAlert{
    color: #2b7fff;
}
.login_alert p{
    font-size: .75rem;
    letter-spacing: -0.025em;  /* tracking-tight */
    color: #1c1c1e;
}
.login_alert p span{
    font-weight: bold;
}
.login_body input{
    border-radius: 6px;
    border: 1px solid #e7e3e4;
    width:100%;
}
.login_body input:focus-visible{
     box-shadow: 0 0 0 3px oklch(70.5% .015 286.067 / 0.3);
     outline: none;
}


