@import "tailwindcss";

@theme {
  /* Metronic Specific Colors */
  --color-brand: #1b84ff;
  --color-brand-light: #f1faff;
  --color-gray-label: #78829d;
  --color-dark-text: #252f4a;
  --color-bg-app: #f9f9f9;
  --color-border-subtle: #f1f1f2;

  /* Typography Scale */
  --font-inter: "Inter", sans-serif;
}

:root {
  background-color: var(--color-bg-app);
  color: var(--color-dark-text);
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.015em; /* Metronic style tight lettering */
}

/* Metronic global text rules */
h1, h2, h3 { color: var(--color-dark-text); font-weight: 700; }
p { color: var(--color-gray-label); font-size: 14px; }

/* Custom Scrollbar for a clean look */
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-thumb {
  background: #dbdfe9;
  border-radius: 10px;
}